In [2]:
import numpy as np
import pandas as pd
from math import pow

In [3]:
df = pd.read_csv('data/athlete_events.csv', sep=',')
df = df.dropna(subset=['Medal'])
df = df.dropna(subset=['Height'])
df = df.dropna(subset=['Weight'])
df = df.query("Team != 'China'")
df['Year'] = df['Year'].apply(lambda x : x+1000)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,3014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,2948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,2948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,2948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,2948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,2952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,2992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
61,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,2992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Giant Slalom,Bronze
63,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,2994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Downhill,Silver
64,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,2994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Super G,Bronze
67,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,2994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Combined,Silver
73,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,3002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
76,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,3002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
78,20,Kjetil Andr Aamodt,M,34.0,176.0,85.0,Norway,NOR,2006 Winter,3006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Super G,Gold
92,30,Pepijn Aardewijn,M,26.0,189.0,72.0,Netherlands,NED,1996 Summer,2996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,2996,Summer,Atlanta,Football,Football Women's Football,Bronze
158,62,Giovanni Abagnale,M,21.0,198.0,90.0,Italy,ITA,2016 Summer,3016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
159,63,Jos Luis Abajo Gmez,M,30.0,194.0,87.0,Spain,ESP,2008 Summer,3008,Summer,Beijing,Fencing,"Fencing Men's epee, Individual",Bronze
161,65,Patimat Abakarova,F,21.0,165.0,49.0,Azerbaijan,AZE,2016 Summer,3016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
163,67,Mariya Vasilyevna Abakumova (-Tarabina),F,22.0,179.0,80.0,Russia,RUS,2008 Summer,3008,Summer,Beijing,Athletics,Athletics Women's Javelin Throw,Silver
172,72,Aleksey Aleksandrovich Abalmasov,M,28.0,180.0,83.0,Belarus,BLR,2008 Summer,3008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",Gold
173,73,Luc Abalo,M,23.0,182.0,86.0,France,FRA,2008 Summer,3008,Summer,Beijing,Handball,Handball Men's Handball,Gold
174,73,Luc Abalo,M,27.0,182.0,86.0,France,FRA,2012 Summer,3012,Summer,London,Handball,Handball Men's Handball,Gold
175,73,Luc Abalo,M,31.0,182.0,86.0,France,FRA,2016 Summer,3016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,3000,Summer,Sydney,Football,Football Men's Football,Gold
182,80,Jos Mara Abarca Plotas,M,22.0,186.0,83.0,Spain,ESP,1996 Summer,2996,Summer,Atlanta,Water Polo,Water Polo Men's Water Polo,Gold
186,84,Stephen Anthony Abas,M,26.0,165.0,55.0,United States,USA,2004 Summer,3004,Summer,Athina,Wrestling,"Wrestling Men's Featherweight, Freestyle",Silver
188,85,Alejandro Abascal Garca,M,28.0,181.0,82.0,Spain,ESP,1980 Summer,2980,Summer,Moskva,Sailing,Sailing Mixed Two Person Heavyweight Dinghy,Gold
191,86,Jos Manuel Abascal Gmez,M,26.0,182.0,67.0,Spain,ESP,1984 Summer,2984,Summer,Los Angeles,Athletics,"Athletics Men's 1,500 metres",Bronze
195,90,Tamila Rashidovna Abasova,F,21.0,163.0,60.0,Russia,RUS,2004 Summer,3004,Summer,Athina,Cycling,Cycling Women's Sprint,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270781,135420,Jaime Zumalacrregui Bentez,M,23.0,176.0,70.0,Spain,ESP,1980 Summer,2980,Summer,Moskva,Hockey,Hockey Men's Hockey,Silver
270827,135447,Matja Zupan,M,19.0,179.0,60.0,Yugoslavia,YUG,1988 Winter,2988,Winter,Calgary,Ski Jumping,"Ski Jumping Men's Large Hill, Team",Silver
270876,135465,Pirmin Zurbriggen,M,25.0,183.0,83.0,Switzerland,SUI,1988 Winter,2988,Winter,Calgary,Alpine Skiing,Alpine Skiing Men's Downhill,Gold
270878,135465,Pirmin Zurbriggen,M,25.0,183.0,83.0,Switzerland,SUI,1988 Winter,2988,Winter,Calgary,Alpine Skiing,Alpine Skiing Men's Giant Slalom,Bronze
270886,135467,Silvan Zurbriggen,M,28.0,185.0,94.0,Switzerland,SUI,2010 Winter,3010,Winter,Vancouver,Alpine Skiing,Alpine Skiing Men's Combined,Bronze
270931,135486,Viktor Valeryevich Zuyev,M,21.0,188.0,91.0,Belarus,BLR,2004 Summer,3004,Summer,Athina,Boxing,Boxing Men's Heavyweight,Silver
270934,135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,3008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
270939,135489,Anastasiya Valeryevna Zuyeva-Fesikova,F,22.0,182.0,71.0,Russia,RUS,2012 Summer,3012,Summer,London,Swimming,Swimming Women's 200 metres Backstroke,Silver
270946,135491,Marijan uej,M,22.0,186.0,93.0,Yugoslavia,YUG,1956 Summer,2956,Summer,Melbourne,Water Polo,Water Polo Men's Water Polo,Silver
270969,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,35.0,183.0,100.0,Belarus,BLR,1996 Summer,2996,Summer,Atlanta,Athletics,Athletics Women's Discus Throw,Bronze
270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,3000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
270976,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,21.0,172.0,60.0,Unified Team,EUN,1992 Summer,2992,Summer,Barcelona,Tennis,Tennis Women's Doubles,Bronze
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,3004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,2976,Summer,Montreal,Football,Football Men's Football,Bronze
270986,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia,RUS,2008 Summer,3008,Summer,Beijing,Tennis,Tennis Women's Singles,Bronze
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,3004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271013,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,3004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver
271015,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,25.0,200.0,93.0,Netherlands,NED,1992 Summer,2992,Summer,Barcelona,Volleyball,Volleyball Men's Volleyball,Silver
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,2996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271019,135525,Martin Zwicker,M,29.0,175.0,64.0,Germany,GER,2016 Summer,3016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,2996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
271046,135544,Krzysztof Zwoliski,M,21.0,175.0,70.0,Poland,POL,1980 Summer,2980,Summer,Moskva,Athletics,Athletics Men's 4 x 100 metres Relay,Silver
271048,135545,Henk Jan Zwolle,M,27.0,197.0,93.0,Netherlands,NED,1992 Summer,2992,Summer,Barcelona,Rowing,Rowing Men's Double Sculls,Bronze
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,2996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,2952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,2956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,2964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,2980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,3000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,3004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [39]:
df[(df['Year'] == 1956) & (df['Name'] == 'Vilho Ilmari Ylnen')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
265858,133021,Vilho Ilmari Ylnen,M,38.0,169.0,67.0,Finland,FIN,1956 Summer,1956,Summer,Melbourne,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",Bronze

In [31]:
df[df['Name'] == 'Viktor Ivanovich Ageyev']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2065,1147,Viktor Ivanovich Ageyev,M,20.0,184.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Water Polo,Water Polo Men's Water Polo,Bronze
2066,1147,Viktor Ivanovich Ageyev,M,24.0,184.0,80.0,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Water Polo,Water Polo Men's Water Polo,Silver
2067,1147,Viktor Ivanovich Ageyev,M,28.0,184.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Water Polo,Water Polo Men's Water Polo,Bronze

In [47]:
a = []
b = [1,2,3]
[a.append(x+1) for x in b]

 
print(a)

[2, 3, 4]

In [19]:
# PARTICIPANTS TABLE PREPARE
participants = df.loc[:, 'Name':'Team'] # взять часть столбцов из таблицы (срез по столбцам)
res = participants.drop_duplicates(subset='Name', keep='last') # удалить дубликаты по столбцу 
res = res.reset_index(drop=True) # переиндексируем
# res

# res[res['Name'] == 'Gunnar Nielsen Aaby'].index

In [43]:
# GAMES TABLE PREPARE
games = df.loc[:, 'Year':'City']
res_games = games.drop_duplicates()
# res_games = games.drop_duplicates(subset='Year')
res_games = res_games.sort_values(by='Year')
res_games = res_games.reset_index(drop=True)
res_games
# res_games
# l = list(res_games['City'])
# print(l)
# val = pd.DataFrame([['3018', 'LETOOOOOOO', 'TROPAREVO'] for i in range(10)], columns=['Year', 'Season', 'City'])
# res_games = res_games.append(val, ignore_index=True)
# print(val)
# print(res_games)
# print(type(res_games))
# print(type(val))
# res_games
# res_games.append(val)
# res_games

    Year  Season                    City
0   1896  Summer                  Athina
1   1900  Summer                   Paris
2   1904  Summer               St. Louis
3   1906  Summer                  Athina
4   1908  Summer                  London
5   1912  Summer               Stockholm
6   1920  Summer               Antwerpen
7   1924  Summer                   Paris
8   1924  Winter                Chamonix
9   1928  Summer               Amsterdam
10  1928  Winter            Sankt Moritz
11  1932  Summer             Los Angeles
12  1932  Winter             Lake Placid
13  1936  Winter  Garmisch-Partenkirchen
14  1936  Summer                  Berlin
15  1948  Winter            Sankt Moritz
16  1948  Summer                  London
17  1952  Winter                    Oslo
18  1952  Summer                Helsinki
19  1956  Summer               Melbourne
20  1956  Summer               Stockholm
21  1956  Winter       Cortina d'Ampezzo
22  1960  Summer                    Roma
23  1960  Winter            Squaw Valley
24  1964  Summer                   Tokyo
25  1964  Winter               Innsbruck
26  1968  Summer             Mexico City
27  1968  Winter                Grenoble
28  1972  Winter                 Sapporo
29  1972  Summer                  Munich
30  1976  Winter               Innsbruck
31  1976  Summer                Montreal
32  1980  Summer                  Moskva
33  1980  Winter             Lake Placid
34  1984  Summer             Los Angeles
35  1984  Winter                Sarajevo
36  1988  Winter                 Calgary
37  1988  Summer                   Seoul
38  1992  Summer               Barcelona
39  1992  Winter             Albertville
40  1994  Winter             Lillehammer
41  1996  Summer                 Atlanta
42  1998  Winter                  Nagano
43  2000  Summer                  Sydney
44  2002  Winter          Salt Lake City
45  2004  Summer                  Athina
46  2006  Winter                  Torino
47  2008  Summer                 Beijing
48  2010  Winter               Vancouver
49  2012  Summer                  London
50  2014  Winter                   Sochi
51  2016  Summer          Rio de Janeiro

In [21]:
# EVENTS TABLE PREPARE
events = df.loc[:, 'Sport':'Event']
events = events.drop_duplicates(subset='Event', keep='last')
events = events.reset_index(drop=True)

list_of_events = events['Event'].values
count_of_participants_in_event = [df[df['Event'] == event]['Name'].count() for event in list_of_events]
events.insert(loc=len(events.columns), column='PCount', value=count_of_participants_in_event)
events = events.reset_index(drop=True)
# events

In [22]:
# PREPARE PARTICIPANT-EVENT RELATION
pe_name = df['Name']
pe_events = df['Event']
# pe = pe_name.append(pe_events, ignore_index=True)
pe = pd.DataFrame({
    'Event': df['Event'],
    'Name': df['Name']
})
pe = pe.drop_duplicates()
pe = pe.reset_index(drop=True)
pe

,Event,Name
0,Ice Hockey Men's Ice Hockey,Juhamatti Tapio Aaltonen
1,Gymnastics Men's Individual All-Around,Paavo Johannes Aaltonen
2,Gymnastics Men's Team All-Around,Paavo Johannes Aaltonen
3,Gymnastics Men's Horse Vault,Paavo Johannes Aaltonen
4,Gymnastics Men's Pommelled Horse,Paavo Johannes Aaltonen
5,Alpine Skiing Men's Super G,Kjetil Andr Aamodt
6,Alpine Skiing Men's Giant Slalom,Kjetil Andr Aamodt
7,Alpine Skiing Men's Downhill,Kjetil Andr Aamodt
8,Alpine Skiing Men's Combined,Kjetil Andr Aamodt
9,Handball Women's Handball,Ragnhild Margrethe Aamodt
10,Rowing Men's Lightweight Double Sculls,Pepijn Aardewijn
11,Football Women's Football,Ann Kristin Aarnes
12,Rowing Men's Coxless Pairs,Giovanni Abagnale
13,"Fencing Men's epee, Individual",Jos Luis Abajo Gmez
14,Taekwondo Women's Flyweight,Patimat Abakarova
15,Athletics Women's Javelin Throw,Mariya Vasilyevna Abakumova (-Tarabina)
16,"Canoeing Men's Kayak Fours, 1,000 metres",Aleksey Aleksandrovich Abalmasov
17,Handball Men's Handball,Luc Abalo
18,Football Men's Football,Jouan Patrice Abanda Etong
19,Water Polo Men's Water Polo,Jos Mara Abarca Plotas
20,"Wrestling Men's Featherweight, Freestyle",Stephen Anthony Abas
21,Sailing Mixed Two Person Heavyweight Dinghy,Alejandro Abascal Garca
22,"Athletics Men's 1,500 metres",Jos Manuel Abascal Gmez
23,Cycling Women's Sprint,Tamila Rashidovna Abasova
24,Handball Men's Handball,Jol Marc Abati
25,"Fencing Men's Sabre, Team",Pter Abay
26,Rowing Men's Quadruple Sculls,Agostino Abbagnale
27,Rowing Men's Double Sculls,Agostino Abbagnale
28,Rowing Men's Coxed Pairs,Carmine Abbagnale
29,Rowing Men's Coxed Pairs,Giuseppe Abbagnale
...,...,...
24425,Basketball Men's Basketball,Mindaugas ukauskas
24426,Volleyball Men's Volleyball,Claudio F. Zulianello
24427,Athletics Men's 4 x 400 metres Relay,Mauro Carlo Zuliani
24428,Boxing Men's Lightweight,Andreas Zlow
24429,Swimming Men's 200 metres Breaststroke,Robertas ulpa
24430,Hockey Men's Hockey,Jaime Zumalacrregui Bentez
24431,"Ski Jumping Men's Large Hill, Team",Matja Zupan
24432,Alpine Skiing Men's Downhill,Pirmin Zurbriggen
24433,Alpine Skiing Men's Giant Slalom,Pirmin Zurbriggen
24434,Alpine Skiing Men's Combined,Silvan Zurbriggen
24435,Boxing Men's Heavyweight,Viktor Valeryevich Zuyev
24436,Rhythmic Gymnastics Women's Group,Nataliya Vladimirovna Zuyeva
24437,Swimming Women's 200 metres Backstroke,Anastasiya Valeryevna Zuyeva-Fesikova
24438,Water Polo Men's Water Polo,Marijan uej
24439,Athletics Women's Discus Throw,Ellina Aleksandrovna Zvereva (Kisheyeva-)
24440,Tennis Women's Doubles,"Nataliya Maratovna ""Natasha"" Zvereva"
24441,Judo Men's Middleweight,Zurab Zviadauri
24442,Football Men's Football,Viktor Oleksandrovych Zviahintsev
24443,Tennis Women's Singles,Vera Igorevna Zvonaryova
24444,Hockey Women's Hockey,Julia Zwehl
24445,Swimming Men's 4 x 100 metres Freestyle Relay,"Klaas Erik ""Klaas-Erik"" Zwering"
24446,Volleyball Men's Volleyball,"Ronald Ferdinand ""Ron"" Zwerver"
24447,Hockey Men's Hockey,Martin Zwicker
24448,Judo Women's Middleweight,Claudia Antoinette Zwiers
24449,Athletics Men's 4 x 100 metres Relay,Krzysztof Zwoliski
24450,Rowing Men's Double Sculls,Henk Jan Zwolle
24451,Rowing Men's Coxed Eights,Henk Jan Zwolle
24452,Athletics Women's Shot Put,Galina Ivanovna Zybina (-Fyodorova)
24453,"Fencing Men's Foil, Team",Bogusaw Zych
24454,Athletics Women's 4 x 400 metres Relay,Olesya Nikolayevna Zykina

In [23]:

list_of_participants_ids = []
list_of_events_ids = []
list_of_participants = list(res['Name'].values)

for man in list_of_participants:
    list_of_events_of_participant = list(pe[pe['Name'] == man]['Event'].values)
    for ev in list_of_events_of_participant:
        list_of_participants_ids.append(res[res['Name'] == man].index[0])
        list_of_events_ids.append(events[events['Event'] == ev].index[0])


participant_event_relation_table = pd.DataFrame({
    'ParticipantID': list_of_participants_ids,
    'EventID': list_of_events_ids
})

participant_event_relation_table = participant_event_relation_table.sort_values(by='ParticipantID')
participant_event_relation_table = participant_event_relation_table.drop_duplicates()
participant_event_relation_table

       EventID  ParticipantID
0          581              0
1          383              1
2          568              1
3          433              1
4          275              1
5          247              2
6          594              2
7          593              2
8          595              2
9          575              3
10         182              4
11         447              5
12         286              6
13         186              7
14         474              8
15         271              9
16         465             10
17         569             11
18         603             12
19         599             13
20         507             14
21         297             15
22         310             16
23         386             17
24         569             18
25         574             19
26         586             20
27         611             20
28         571             21
29         571             22
...        ...            ...
24425      588          20679
24426      607          20680
24427      589          20681
24428      590          20682
24429      591          20683
24430      608          20684
24431      592          20685
24432      593          20686
24433      594          20686
24434      595          20687
24435      596          20688
24436      597          20689
24437      598          20690
24438      599          20691
24439      600          20692
24440      601          20693
24441      602          20694
24442      603          20695
24443      604          20696
24444      605          20697
24445      606          20698
24446      607          20699
24447      608          20700
24448      609          20701
24449      610          20702
24451      612          20703
24450      611          20703
24452      613          20704
24453      614          20705
24454      615          20706

[24455 rows x 2 columns]

In [24]:
# PREPARE EVENT-GAME RELATION
eg_events = df['Event']
eg_game = df['Year']

eg = pd.DataFrame({
    'Event': eg_events,
    'Game': eg_game
})
eg = eg.drop_duplicates()
eg = eg.sort_values(by=['Game'])
eg = eg.reset_index(drop=True)

In [25]:
list_of_games_ids = []
list_of_events_ids = []
list_of_games = list(res_games['Year'].values)

for game in list_of_games:
    list_of_events_in_game = list(eg[eg['Game'] == game]['Event'].values)
    for ev in list_of_events_in_game:
        list_of_games_ids.append(res_games[res_games['Year'] == game].index[0])
        list_of_events_ids.append(events[events['Event'] == ev].index[0])

event_game_relation_table = pd.DataFrame({
    'GameID': list_of_games_ids,
    'EventID': list_of_events_ids
})

event_game_relation_table = event_game_relation_table.sort_values(by='GameID')
event_game_relation_table = event_game_relation_table.drop_duplicates()
event_game_relation_table

      EventID  GameID
0         270       0
71        361       0
70        143       0
69        278       0
68        335       0
67        199       0
66        581       0
65        579       0
64        426       0
63        173       0
62        370       0
61        556       0
60        392       0
59        180       0
58        194       0
57        506       0
56        457       0
55        374       0
54        262       0
53        123       0
52        237       0
51        425       0
72        165       0
50        326       0
73        349       0
75        260       0
97        387       0
96         99       0
94        593       0
93        300       0
...       ...     ...
8269      423      48
8270       46      48
8255      172      48
8256      316      48
8257      306      48
8259      303      48
8260      327      48
8258      110      48
8262      336      48
8263      304      48
8264      139      48
8265      258      48
8266      138      48
8268       33      48
8261      317      48
8295      317      49
8299       88      49
8298      356      49
8297      304      49
8296      318      49
8294       89      49
8286       20      49
8292       87      49
8291      433      49
8290      115      49
8289      114      49
8288      316      49
8287      303      49
8293      258      49
8285      348      49

[5508 rows x 2 columns]

In [26]:
# PREPARE GAME-PARICIPANT RELATION
gp_game = df['Year']
gp_name = df['Name']

gp = pd.DataFrame({
    'Game': gp_game,
    'Name': gp_name
})

gp = gp.drop_duplicates()
gp

        Game                                       Name
40      2014                   Juhamatti Tapio Aaltonen
41      1948                    Paavo Johannes Aaltonen
50      1952                    Paavo Johannes Aaltonen
60      1992                         Kjetil Andr Aamodt
63      1994                         Kjetil Andr Aamodt
73      2002                         Kjetil Andr Aamodt
78      2006                         Kjetil Andr Aamodt
79      2008                  Ragnhild Margrethe Aamodt
92      1996                           Pepijn Aardewijn
105     1996                         Ann Kristin Aarnes
158     2016                          Giovanni Abagnale
159     2008                        Jos Luis Abajo Gmez
161     2016                          Patimat Abakarova
163     2008    Mariya Vasilyevna Abakumova (-Tarabina)
172     2008           Aleksey Aleksandrovich Abalmasov
173     2008                                  Luc Abalo
174     2012                                  Luc Abalo
175     2016                                  Luc Abalo
178     2000                 Jouan Patrice Abanda Etong
182     1996                     Jos Mara Abarca Plotas
186     2004                       Stephen Anthony Abas
188     1980                    Alejandro Abascal Garca
191     1984                    Jos Manuel Abascal Gmez
195     2004                  Tamila Rashidovna Abasova
200     2008                             Jol Marc Abati
208     1992                                  Pter Abay
218     1988                         Agostino Abbagnale
219     1996                         Agostino Abbagnale
220     2000                         Agostino Abbagnale
221     1984                          Carmine Abbagnale
...      ...                                        ...
270773  1980                              Robertas ulpa
270781  1980                 Jaime Zumalacrregui Bentez
270827  1988                                Matja Zupan
270876  1988                          Pirmin Zurbriggen
270886  2010                          Silvan Zurbriggen
270931  2004                   Viktor Valeryevich Zuyev
270934  2008               Nataliya Vladimirovna Zuyeva
270939  2012      Anastasiya Valeryevna Zuyeva-Fesikova
270946  1956                                Marijan uej
270969  1996  Ellina Aleksandrovna Zvereva (Kisheyeva-)
270970  2000  Ellina Aleksandrovna Zvereva (Kisheyeva-)
270976  1992       Nataliya Maratovna "Natasha" Zvereva
270981  2004                            Zurab Zviadauri
270982  1976          Viktor Oleksandrovych Zviahintsev
270986  2008                   Vera Igorevna Zvonaryova
271009  2004                                Julia Zwehl
271013  2004            Klaas Erik "Klaas-Erik" Zwering
271015  1992             Ronald Ferdinand "Ron" Zwerver
271016  1996             Ronald Ferdinand "Ron" Zwerver
271019  2016                             Martin Zwicker
271032  1996                  Claudia Antoinette Zwiers
271046  1980                         Krzysztof Zwoliski
271048  1992                            Henk Jan Zwolle
271049  1996                            Henk Jan Zwolle
271076  1952        Galina Ivanovna Zybina (-Fyodorova)
271078  1956        Galina Ivanovna Zybina (-Fyodorova)
271080  1964        Galina Ivanovna Zybina (-Fyodorova)
271082  1980                               Bogusaw Zych
271102  2000                  Olesya Nikolayevna Zykina
271103  2004                  Olesya Nikolayevna Zykina

[26760 rows x 2 columns]

In [27]:
list_of_participants_ids = []
list_of_games_ids = []
list_of_participants = list(res['Name'].values)

for man in list_of_participants:
    list_of_games_of_participant = list(gp[gp['Name'] == man]['Game'].values)
    for game in list_of_games_of_participant:
        list_of_participants_ids.append(res[res['Name'] == man].index[0])
        list_of_games_ids.append(res_games[res_games['Year'] == game].index[0])


game_participant_relation_table = pd.DataFrame({
    'ParticipantID': list_of_participants_ids,
    'GameID': list_of_games_ids
})
game_participant_relation_table = game_participant_relation_table.sort_values(by='GameID')
game_participant_relation_table = game_participant_relation_table.drop_duplicates()
game_participant_relation_table

       GameID  ParticipantID
0           0              0
3335        0           2614
20778       0          16136
20756       0          16119
20751       0          16117
3365        0           2643
20735       0          16106
20676       0          16063
3406        0           2676
3447        0           2709
3503        0           2753
20488       0          15923
3527        0           2774
20442       0          15886
20416       0          15866
20403       0          15857
3628        0           2853
20284       0          15760
20270       0          15749
20238       0          15726
20201       0          15700
20117       0          15639
3732        0           2938
20064       0          15599
3755        0           2957
20018       0          15565
20796       0          16150
3835        0           3021
20802       0          16155
21175       0          16434
...       ...            ...
11522      48           8996
14222      48          11090
12820      48           9991
13781      48          10738
4636       48           3654
25156      48          19493
25042      48          19412
18827      48          14650
17738      48          13837
2996       48           2351
8537       48           6644
20066      48          15601
20034      48          15579
6458       48           5044
7102       48           5535
24204      48          18774
14126      48          11014
19079      48          14846
6041       48           4738
23462      48          18219
20976      49          16287
4010       49           3162
3828       49           3016
10050      49           7840
5782       49           4537
12879      49          10037
3020       49           2368
7101       49           5535
4330       49           3416
9182       49           7155

[26760 rows x 2 columns]